experiments/
outputs/
results/
checkpoints/

**/data/MNIST/
*.gz
*.ubyte
*.pth
*.onnx
*.h5


**/__pycache__/
*.py[cod]
*$py.class

venv/
.env
env/
conda-env/


.ipynb_checkpoints/


*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.pdf

.DS_Store
Thumbs.db